- set_meta_tags title: "フォームからお問い合わせ 完了"

h1.pagetitle: .title_content お問い合わせ 完了

h2.minititle #{mi(:send)} フォームからお問い合わせ 完了

p.contact_message
  |
    お問い合わせありがとうございます。<br />
    担当者が確認次第、折り返しご連絡を差し上げます。<br /><br />

    万が一、システムからの通知メールが届かなかった場合は、入力メールアドレスに誤りがあった可能性があります。<br />
    お手数ですがメールアドレスをご確認の上、再度お問い合わせをしていただきますようお願いいたします。<br /><br />

    今後とも、<a href="/">#{@company.company}</a>をよろしくお願いいたします。
