- set_meta_tags title: "OpenAI TEST"
- breadcrumb :something, "OpenAI TEST"

h1 OpenAI TEST

#form_area.mx-auto.my-3 = render "form"

/ . = link_to 'Edit', "/playground/openai_test01", data: { turbo_stream: true,  turbo_method: :post }

hr

#messages_area.mx-auto.mt-3.mb-5
