p.mt-2
  |
    工作機械及び鍛圧機械流通業界の中核をなす専門商社が<br />
    昭和３８年に流通の近代化と業界協調をテーマに結集し全国組織を実現したのが、<br />
    今日の全日本機械業連合会です。
p.mt-2
  |
    全日本機械業連合会（全機連）は、日本全国において工作機械、鍛圧機械を取り扱う事業者および事業法人を持って組織されており、<br />
    関東地区は<a href="/companies/tokyo" title="東京機械業連合会">東京機械業連合会</a>（中央支部・城東支部・城西支部・城南支部・城北支部）、<br />
    関西地区は<a href="/companies/osaka" title="大阪機械業連合会">大阪機械業連合会</a>（大阪今里機械業会・大阪谷町機械業会・西大阪機械業会・大阪西北機械業会・大阪機械団地機械業会・中国四国機械業会）、<br />
    中部地区は<a href="/companies/chubu" title="中部機械業連合会">中部機械業連合会</a>（名古屋機械業会・北陸機械業会・静岡機械業会）<br />
    の全国傘下の機械業連合会を持っています。
p.mt-2
  |
    全機連は、機械業者相互の親睦を図り、<br />
    業界の健全なる発展および業者全体の利益と地位向上を図ることを目的としています。
