dl
  dt 総則
  dd
    |
      第1条
      本会は、全日本機械業連合会（以下、本会という）と称する。<br />
      第2条
      本会は、日本全国一円において工作機械、鍛圧機械を取り扱う事業者及び事業法人をもって組織する。<br />
      第3条
      本会は、機械業者相互の親睦を図り、業界の健全なる発展および業界全体の利益と地位向上を図るをもって目的とする。<br />
      第4条
      本会の事業所は、会長の所属する団体または会長の指名するところとする。

  dt 事業
  dd
    |
      第5条	本会は、目的を達成するため次の事業を行う。<br /><br />
      （１）　業界の社会的社会的地位向上のため、全国各地区の機械業連合会の意見をまとめ関係機関に意見の具申および陳情をなす。<br />
      （２）　古物許可証範囲より機械類を除外する運動。<br />
      （３）　工作機械、鍛圧機械類の販売に対するテストおよび保証制度を確立し機械工業の発展に寄与する。<br />
      （４）　工作機械、鍛圧機械類の仕入れおよび販売に関する研究ならびにあっせん。<br />
      （５）　時局および経済講演会の開催ならびに優秀製作工場見学。<br />
      （６）　会員の福利厚生に関する事業。<br />
      （７）　その他本会の目的達成に必要な事業。

  dt 会員
  dd
    |
      第6条	本会の会員たる資格は、各地区にある機械の販売業者をもって組織された団体加入者とする。<br />
      第7条	会員たる資格を有する者は、所定の入会手続きをなし役員会（過半数）の承認を経て入会することができる。<br />
      第8条	会員は手続きの上、いつでも脱会することができる。

  dt 役員
  dd
    |
      第9条	本会に次の役員を置く。<br />
      会長　１名　　　副会長　若干名<br />
      理事　若干名　　監 事　　若干名<br /><br />
      第10条	会長は、本会を代表し会務を統括する。<br />
      第11条	副会長は、会長を補佐し、会長事故ある時にこれに代わる。<br />
      第12条	理事のうち若干名は会計を担当する。<br />
      第13条	監事は会計帳簿の監査を行う。<br />
      第14条	会長は、総会において選出し、その他の役員は加盟団体の長とその長の推薦するその団体の役員、もしくは会員のうちより会長が指名する。<br />
      第15条	本会に顧問および相談役を会長の推薦により置くことができる。顧問および相談役は会長の諮問に応ずる。<br />
      第16条	役員の任期は２年とし、任期満了後も後任者の就任までその任務を行う。なお、再選は妨げず。

  dt 会議
  dd
    |
      第17条	本会は、２年に１回総会を開き、役員会は年１回以上開く。<br />
      第18条	総会は会員の３分の１以上の出席で成立する。<br />
      第19条	総会の議決は出席者の過半数の賛成を得て議決する。<br />
      第20条	必要ある時、会長は役員会・臨時総会を招集することを得る。

  dt 会計・経理
  dd
    |
      第21条	本会の経費は、会費および寄付金をもって充てる。<br />
      第22条	会費は年５０００円とする。必要ある時には臨時会費を徴収することができる。<br />
      第23条	会計担当者は総会において収支決算を報告するものとする。<br />
      第24条	納入された会費は脱会その他いかなる理由にかかわらず返済しないものとする。<br />
      第25条	本会の会計年度は１月１日より次年１２月３１日まで２４ヶ月とする。

  dt 付則
  dd
    |
      第26条	本会則で定めるもののほか、必要事項は役員会の決議によって決めることができる。<br />
      ただし、次期総会において承認を求めることを要する。<br />
      第27条	本会則は平成28年度総会での承認後から実施する。
