$theme: "machinelife" !default;

$white: #fff;

$gray-200: #e9ecef;
$gray-800: #343a40;
$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #9b479f;
$pink: #e83e8c;
$red: #d9230f;
$orange: #d9831f;
$yellow: #ffc107;
$green: #469408;
$teal: #20c997;
$cyan: #029acf;

$white: #fff;
$indigo: #6610f2;
$orange: #d9831f;

$info: $indigo !default;
$warning: $orange !default;
$light: $gray-200 !default;

$min-contrast-ratio: 2.6 !default;
// Body

$body-color: $gray-800 !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: "Helvetica Neue", "Helvetica", "Hiragino Sans",
  "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !default;
$headings-font-weight: 400 !default;
